image: node:latest

variables:
  GIT_SUBMODULE_STRATEGY: normal

pages:
  stage: deploy
  cache:
    key:
      files:
        - package-lock.json
      prefix: npm
    paths:
      - node_modules/
  script:
    # Configure to set Navigator URL, etc.
    - echo -e "\nVITE_BASE_URL=$CI_PROJECT_NAME\n" >> .env
    - cat .env
    - npm run build
    # navigate into the build output directory
    - cd dist
    # fix for 404 on refresh issue
    - cp index.html 404.html
    - cd ..
    - cp -a dist/. public/
  artifacts:
    paths:
      - public
  rules:
    # Automatically run for branches containing "data-editor-publish" to demo published data
    - if: $CI_COMMIT_BRANCH =~ /data-editor-publish/
    
    # Automatically run for the default branch (i.e. when any there are any commits or anything is merged to the default branch (including data-editor-publish branches))
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  tags:
    - pages-no-cui

default:
  before_script:
    # Install and cache dependencies
    - npm install --cache .npm --prefer-offline
