body {
    background-color: #424242;
}
a {
    text-decoration: none;
}
.case-study-type {
    border-color: #9e9e9e;
  }
  
  .case-study-type:hover {
    border-color: #757575;
  }
  
  .button-tooltip-container {
    display: flex;
  }