/*COLORS*/
/**
 * Colors used across the website.
 * For each color-pair:
 *   - "color" refers to the color itself
 *   - "on-color" refers to the most readable text-color to appear on top of the color. 
 * Note: some colors don't define on-colors. This is because, for these colors, they aren't intended to
 * appear with inner content. For example, "link" is only intended to be used for link text, which inherently
 * cannot have inner text.
 */
.deemphasis {
  color: #6b7279;
}

.matrix-header {
  background-color: gray;
  color: white;
}

.bg-alternate {
  background-color: #f2f2f2 !important;
}

/******/
.matrix-container {
  border: 1px solid #dfdfdf;
  background: white;
}
.matrix-container + .matrix-container {
  margin-top: to-rem(16);
}
.matrix-container .matrix-border {
  border-left: 1px solid #dfdfdf;
  padding-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.matrix-container .matrix-title {
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
.matrix-container .scroll-indicator-group {
  white-space: nowrap;
  display: flex;
}
.matrix-container .scroll-indicator-group .matrix-scroll-box {
  flex-grow: 1;
  display: inline-block;
}
.matrix-container .scroll-indicator-group .scroll-indicator {
  width: 0px;
  display: inline-block;
  position: relative;
}
.matrix-container .scroll-indicator-group .scroll-indicator .cover {
  width: 50px;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
.matrix-container .scroll-indicator-group .scroll-indicator.right .cover {
  right: 0;
}
.matrix-container .scroll-indicator-group .scroll-indicator.right.show .cover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.001), white);
}
.matrix-container .scroll-indicator-group .scroll-indicator.left .cover {
  left: 0;
}
.matrix-container .scroll-indicator-group .scroll-indicator.left.show .cover {
  background: linear-gradient(to left, rgba(255, 255, 255, 0.001), white);
}

.matrix {
  white-space: normal;
  line-height: 14px;
}
.matrix.side .tactic {
  padding: 2px;
  width: 1%;
  vertical-align: top;
}
.attack-and {
  color: red;
  font-size: 12px;
  font-weight: normal;
  vertical-align: super;
}
.matrix.side .tactic.name, .matrix.side .tactic.count {
  text-align: center;
  font-size: 16px;
  /* white-space: nowrap; */
}
.matrix.side .tactic.name {
  font-weight: bold;
}
.matrix.side .tactic.count {
  font-size: 13px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.matrix.side .tactic .techniques-table {
  border-collapse: collapse;
  width: 100%;
}
.matrix.side .tactic .techniques-table tr, .matrix.side .tactic .techniques-table td {
  padding: 0;
}
.matrix.side .tactic .techniques-table tr {
  height: 1px;
}
.matrix.side .tactic .supertechnique {
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  margin: 0;
}
.matrix.side .tactic .supertechnique td {
  padding: 0;
  vertical-align: top;
}
.matrix.side .tactic .supertechnique td.technique {
  outline: 1px solid #6b7279;
  outline-offset: -1px;
}
.matrix.side .tactic .subtechniques {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: -1px;
  border-left: 2px solid #6b7279;
  outline: 1px solid #6b7279;
  outline-offset: -1px;
  white-space: nowrap;
  vertical-align: top;
}
.matrix.side .tactic .subtechniques.hidden {
  display: none;
}
.matrix.side .tactic .subtechniques .subtechnique {
  height: 100%;
  flex-grow: 1;
}
.matrix.side .tactic .handle {
  text-align: center;
  vertical-align: middle;
  transform: rotate(-90deg);
  color: #f2f2f2;
  width: 12px;
  height: 12px;
  font-size: 16px;
  line-height: 12px;
}
.matrix.side .sidebar {
  min-width: 8px;
  width: 12px;
  padding: 0;
  background: #6b7279;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}
.matrix.side .sidebar .angle {
  display: none;
}
.matrix.side .sidebar.expanded .angle {
  margin: 0 auto;
  height: 12px;
  display: block;
  position: absolute;
  background: white;
}
.matrix.side .sidebar.expanded .angle svg {
  fill: #6b7279;
  vertical-align: baseline;
}
.matrix.side .sidebar.expanded .angle.top {
  top: 0px;
}
.matrix.side .sidebar.expanded .angle.bottom {
  bottom: 0px;
}
.matrix.flat .tactic {
  margin-right: 5px;
  width: 1%;
  vertical-align: top;
}
.matrix.flat .tactic.name, .matrix.flat .tactic.count {
  text-align: center;
  font-size: 16px;
}
.matrix.flat .tactic.name {
  font-weight: bold;
}
.matrix.flat .tactic.count {
  font-size: 13px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.matrix.flat .tactic .subtechniques-row.hidden {
  display: none;
}
.matrix.flat .tactic .supertechnique {
  border-collapse: collapse;
  width: 100%;
  padding: 0;
  margin: 0;
}
.matrix.flat .tactic .supertechnique td {
  padding: 0;
  vertical-align: top;
}
.matrix.flat .tactic .supertechnique td.sidebar.technique {
  min-width: 8px;
  width: 12px;
  padding: 0;
  background: #6b7279;
  cursor: pointer;
  vertical-align: middle;
}
.matrix.flat .tactic .supertechnique td.sidebar.technique .handle {
  text-align: center;
  vertical-align: middle;
  transform: rotate(-90deg);
  color: #f2f2f2;
  width: 12px;
  height: 9px;
  font-size: 16px;
  line-height: 12px;
}
.matrix.flat .tactic .supertechnique td.sidebar.subtechniques svg {
  fill: #6b7279;
  vertical-align: baseline;
}
.matrix.flat .tactic .supertechnique td.sidebar {
  border-right: 2px solid #6b7279;
}
.matrix.flat .tactic .supertechnique td.technique {
  outline: 1px solid #6b7279;
  outline-offset: -1px;
}
.matrix.flat .tactic .more-icon {
  transition: all ease 0.125s;
  vertical-align: top;
  transform: scale(0.5) rotate(-90deg);
  width: 12px;
  height: 12px;
}
.matrix.flat .tactic .more-icon.expanded {
  transform: scale(0.5);
}
.matrix .technique-cell {
  height: 100%;
  display: flex;
  /* align-items: center; */
  font-size: 13px;
  line-height: 14px;
  outline: 1px solid transparent;
  outline-offset: -1px;
}
.matrix .technique-cell a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 7px 3px;
}
.matrix .technique-cell:not(.colored):not(.supertechniquecell) {
  outline-color: #dfdfdf;
}

.matrix-controls {
  margin: auto;
  width: 50%;
  padding: 1rem;
}
.matrix-controls button {
  border-color: #dfdfdf;
  background: white;
  color: #39434C;
}
.matrix-controls button:hover {
  background: whitesmoke;
}
.matrix-controls .layout-button:active {
  color: #16181b;
  background-color: #f8f9fa;
}

.center-controls .matrix-controls .btn-toolbar {
  justify-content: center;
}

/*# sourceMappingURL=matrix.css.map */
