body {
  background-color: #424242;
}

a {
  text-decoration: none;
  color: #1976d2;
}

p {
  margin-bottom: 1rem;
}

ol,
ul {
  padding-left: 24px;
  padding-right: 0px;
}

.home-panel {
  padding-top: 7em !important;
  padding-bottom: 7em !important;
}

.v-btn.atlas-btn-primary,
.v-btn.atlas-btn-secondary {
  border-radius: 5px;
  padding: 10px 12px;
  height: fit-content !important;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.v-btn.atlas-btn-primary:not(.v-btn--disabled):hover {
  background-color: rgb(var(--v-theme-primaryHover)) !important;
}

.v-btn.atlas-btn-primary.v-btn--disabled.v-btn--variant-flat {
  background-color: rgb(var(--v-theme-surface)) !important;
  color: rgba(var(--v-theme-on-surface), 0.26) !important;
}

.form-title {
  color: rgb(var(--v-theme-darkInfo));
  background-color: rgb(var(--v-theme-lightSilver));
  padding: 0px 8px;
  font-weight: 500;
}

/* account for header height + a padding when scrolling to anchors */
[id] {
  scroll-margin-top: calc(64px + 1.5rem);
}
